@font-face {
	font-family: '8Bit';
	src: url('https://toby.fangamer.com/assets/fonts/8bitOperatorPlus-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	background-color: black;
	color: white;
	font-family: '8Bit';
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-size: 2rem;
}
.first {
    width: 700px;
	margin-left: auto;
	margin-right: auto;
}